@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif !important;
    background-image: url('../images/pattern-background-desktop.svg');
	max-width: 1440px;
	padding: 30px;
	margin: 0;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container > * {
	width: 400px;
}

.bg-cover {
	height: 190px;
}

.main-content {
	background-color: #f5f7ff;
	border-radius: 25px;
}

.bg-cover > img {
	width: 400px;
	height: 180px;
	border-radius: 25px 25px 0 0;
}

p {
	color: #7280a7;
	font-size: 16px;
}

.first-section > * {
	text-align: center;
}

.first-section > p {
	text-align: center;
    justify-content: center;
    padding: 0 10% 3%;
    margin: 0;
}

h3 {
	font-weight: 900 !important;
	color: #1f2f56;
    display: block;
    text-align: center;
    padding: 8% 10%;
    margin: 0 !important;
}

.second-section {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 10%;
}

.second-section > div > a {
	font-weight: bold;
}

.sub-second-section {
    display: flex;
    flex-direction: column;
	margin: 0 10px;
}

.sub-second {
	display: flex;
	flex-direction: row;
}

.sub-second > img {
	margin: 0 10px;
}

.sub-second-section > div > h6 {
	color: #1f2f56;
    font-weight: bold;
	margin: 0;
}

.sub-second-section > div > p {
	margin: 0 !important;
}

.link {
    color: #3829E0 ;
}

.third-section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    align-items: center;
	margin-bottom: 20px;
	padding: 10px 0 0 0;
}

.third-section > button {
	width: 75%;
}

.btn-proceed, .btn-cancel {
	font-size: 13px !important;
	font-weight: bold !important;
	padding: 8px 12px !important;
    background-color: #3829E0 !important;
    color: white !important;
    border-radius: 10px !important;
}

.btn-cancel {
    background-color: #f5f7ff !important;
    color: #7280a7 !important;
    margin: 5px;
}

footer {
	text-align: center;
	margin-top: 10px;
}

footer > p {
	margin: 0 !important;
}

@media screen and (max-width: 460px) {
	body {
	  padding: 30px;
	}

	.main-container > *, .bg-cover, .bg-cover > img {
		width: 350px;
	}
  }